body {
  background-color: #282c34;
  padding: 20px;
}

.player__item {
  background-color: #fde694;
  max-width: 120px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player__item p {
  margin: 0;
  color: black;
  font-size: 16px;
}

.player__item svg {
  fill: white;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.off__btn {
  background-color: #ff0000; 
  color: #fff; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer;
}